body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    background: url('login-img.jpg') no-repeat center;
    /* background: url('login-img.jpg') no-repeat; */
    background-position: center;
    background-size: cover;
  }